<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpsBinding_IPaycomAPI" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                    <security mode="Transport" />
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www.paycomonline.net/PaycomAPI/v1.1/PaycomAPI.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IPaycomAPI"
                contract="paycomService.IPaycomAPI" name="BasicHttpsBinding_IPaycomAPI" />
        </client>
    </system.serviceModel>
  <system.web>
    <httpRuntime maxRequestLength="2097152" />
  </system.web>
</configuration>
