<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="workingFolder" value="C:\Users\steve\Documents\Visual Studio 2010\Projects\AsyncProcessor\AsyncExecution\bin\Debug\" />
    <add key="taskFolder" value="C:\Users\steve\Documents\Visual Studio 2010\Projects\AsyncProcessor\ADPEmployeeImport\bin\Debug\" />
    <add key="loggingFolder" value="C:\SPALog\" />
    <add key="spa_async" value="Data Source=RACECONTROLLER;Initial Catalog=SPA_Portal;Persist Security Info=True;User ID=sa;Password=steve" />
    <add key="db" value="Data Source=RACECONTROLLER;Initial Catalog=SPA_Portal;Persist Security Info=True;User ID=sa;Password=steve" />
  </appSettings>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="SPALog" type="log4net.Appender.RollingFileAppender">
      <file value="C:\SPALog\AsyncProcessor_log.txt" />
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd.'Err'" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{DATE} [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <maximumFileSize value="15MB" />
      <appender-ref ref="SPALog" />
    </root>
  </log4net>
</configuration>
